<!DOCTYPE html>
<html>
<head>
    <title>게시글 상세</title>
    <link rel="stylesheet" href="/detail.css">
</head>
<body>

<div class="container">

    <h1 class="title">제목 :<%= post.title %></h1>

    <div class="info">
        <p>작성자: <%= post.nickName %></p>
        <p>
            <% if (post.created_at != post.updated_at) { %>
                수정됨: <%= new Date(post.updated_at).toLocaleString() %>
            <% } else { %>
                작성일: <%= new Date(post.created_at).toLocaleString() %>
            <% } %>
        </p>        
        <p>조회수: <%= post.views %></p>
    </div>

    <hr>

    <div class="content">
       <%= post.content %>
    </div>

    <hr>
    <form action="/comment" method="POST">
        <input type="hidden" name="post_id" value="<%= post.post_id %>">
        <textarea name="content" required></textarea>
        <button type="submit">댓글 작성</button>
    </form>

<h5>댓글 목록</h5>

<% if (comments.length === 0) { %>
    <p>댓글 없음</p>
<% } %>

<% comments.forEach(comment => { %>
    <div class="comment-box">
        <b><%= comment.nickName %></b>

        <p><%= comment.content %></p>

        <% if (session.user && session.user.id === comment.user_id) { %>
            <a href="/comment/edit/<%= comment.comment_id %>">수정</a>
            <a href="/comment/delete/<%= comment.comment_id %>"
               onclick="return confirm('삭제할까요?')">
                삭제
            </a>
        <% } %>

        <p class="date">
            <% if (comment.updated_at && comment.updated_at != comment.created_at) { %>
                수정됨: <%= new Date(comment.updated_at).toLocaleString() %>
            <% } else { %>
                작성일: <%= new Date(comment.created_at).toLocaleString() %>
            <% } %>
        </p>
    </div>
<% }) %>

    <div class="buttons">
        <% if (session.user && (session.user.role === 'admin' || session.user.id === post.user_id)) { %>
            <a href="/edit/<%= post.post_id %>" class="btn edit">수정</a>
            <a href="/delete/<%= post.post_id %>" class="btn delete"
               onclick="return confirm('삭제할까요?')">삭제</a>
        <% } %>

        <a href="/" class="btn list">목록</a>
    </div>

</div>

</body>
</html>