<!DOCTYPE html>
<html>
<head>
    <title>게시글 상세</title>
    <link rel="stylesheet" href="/detail.css">
</head>
<body>

<div class="container">

    <h1 class="title">제목 :<%= post.title %></h1>

    <div class="info">
        <p>작성자: <%= post.nickName %></p>
        <p>
            <% if (post.created_at != post.updated_at) { %>
                수정됨: <%= new Date(post.updated_at).toLocaleString() %>
            <% } else { %>
                작성일: <%= new Date(post.created_at).toLocaleString() %>
            <% } %>
        </p>        
        <p>조회수: <%= post.views %></p>
    </div>

    <hr>

    <div class="content">
       <%= post.content %>
    </div>

    <hr>

    <div class="buttons">
        <% if (session.user && (session.user.role === 'admin' || session.user.id === post.user_id)) { %>
            <a href="/edit/<%= post.post_id %>" class="btn edit">수정</a>
            <a href="/delete/<%= post.post_id %>" class="btn delete"
               onclick="return confirm('삭제할까요?')">삭제</a>
        <% } %>

        <a href="/" class="btn list">목록</a>
    </div>

</div>

</body>
</html>